@CHARSET "UTF-8";

*{
    margin:0;
    padding:0;
    font-family: 'calibri', arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

/************************* COMMUN A TOUTES LES PAGES *************************/

body{
    background-color : #CBCBCB;
    width: 100%;
    height : 100%;
}

main{
    width : 99%;
    margin : 0.5%;
}

header{
    float : left;
    width : 100%;
}

header #FormDeconnexion {
    float : left;
    margin : 10px 0px 0px 250px;
}

header #FormDeconnexion button {
    width : 850px;
    font-size : 20px;
}

header #FormConnexion {
    float : left;
    margin : 10px 0px 0px 250px;
}

header #FormConnexion input {
    width : 300px;
    font-size : 20px;
    text-indent: 10px;
}

header #FormConnexion button {
    width : 250px;
    font-size : 20px;
}

header img {
    float : left;
}

footer {
    float : left;
    width: 100%;
}

footer p {
    text-align: center;
}

/************************* PAGE WELCOME ********************************/

#nav_welcome {
    float: left;
    width: 100%;
    margin: 1% 0%;
}

#nav_welcome ul li {
    display: inline;
    font-size : 30px;
    margin: 0% 1%;
}

#section_welcome {
    float: left;
    width: 100%;
    margin: 1% 0%;
}

#section_welcome h1{
    font-size: 30px;
}

/************************* PAGE BILANS *********************************/

#section_bilans {
    float: left;
    width: 100%
}

#liste_bilans h1 {
    text-align: center;
    font-size: 35px;
}

#bilans {
    float: left;
    width: 100%;
    font-size: 20px;
}

#bilans form {
    float: right;
    width: 350px;
    margin: 0% 33.4% 0% 0%;
}

#bilans dt {
    float: left;
    width: 250px;
    margin: 0% 0% 0% 35%;
}

#bilans dd {
    float: left;
    width: 150px;
    margin: 0% 50% 0% 35%;
}

#bilans .date {
    float : left;
}

#bilans .date_picker {
    float: left;
    text-indent: 5px;
    font-size: 20px;
    margin: 0% 1%;
    width: 150px;
}

#bilans .bouton_dp {
    float: left;
    font-size: 18px;
    width: 100px;
}

/************************* PAGE BULLETIN_NOTES *************************/

#section_bulletin {
    float : left;
    width: 100%;
}

#bulletin {
    float : left;
    width : 100%;
    height: 140px;
}

#bulletin #diplome {
    font-size: 40px;
    width: 22.2%;
    margin: 0% 0% 0% 38%;
}

#bulletin #annee {
    font-size: 23px;
    width: 7%;
    float: left;
    margin: 0% 0% 0% 18%;
}

#bulletin #date_conseil {
    font-size: 23px;
    width: 20%;
    float: left;
    margin: 0% 0% 0% 18%;
}

#bulletin #nom {
    font-size: 23px;
    width: 20%;
    height: 20%;
    float: left;
    margin: 0% 0% 0% 38%;
}

#bulletin #date {
    font-size: 23px;
    width: 20%;
    height: 20%;
    float: left;
    margin: 0% 0% 0% 25%;
}

#notes {
    width : 98%;
    border-collapse: collapse;
    font-size: 14px;
    margin: 1%;
}

#notes td, th
{
    border: 1px solid black;
}

#notes #matiere {
    width: 10%;
}

#notes #enseignant {
    width: 10%;
}

#notes #stagiaire {
    width: 8%;
}

#notes #commentaire {
    width : 35%;
}

#notes #bouton_com {
    width: 15.8%;
    height: 35px;
    float: right;
    margin: 0.3% 0.3% 0% 0%;
    font-size: 14px;
}

#notes #ta_com {
    margin: 0.3% 0% 0% 0.3%;
    font-size: 14px;
}

#notes #body_matiere {
    padding: 0% 0% 0% 0.5%;
}

#notes #body_formateur {
    padding: 0% 0% 0% 0.5%;
}

#notes .body_notes {
    text-align: center;
}

#notes .moyenne {
    border: 1px solid black;
    width: 8%;
}

#appreciation {
    float : left;
    border-collapse: collapse;
    font-size: 18px;
    margin: 1%;
    width: 38%;
}

#appreciation td, th {
    border: 1px solid black;
}

#appreciation #ta_app {
    margin: 0.3% 0% 0% 0.3%;
    font-size: 14px;
}

#appreciation #bouton_app {
    width: 12.4%;
    height: 35px;
    float: right;
    margin: 8% 0.3% 0% 0%;
    font-size: 14px;
}

#signature {
    float: right;
    border-collapse: collapse;
    font-size: 18px;
    margin: 1% 10% 1% 10%;
    width: 20%;
}

#signature td, th {
    border: 1px solid black;
}

#signature #bloc {
    height: 155px;
}